:root {
    --main-color: #2AAAE2;
    --secound-color: #A2D168;
    --font-color: #fff;
}

.card{
    background-color:#2aabe20f;
    font-size: 14px;
    border-radius: 10px;
}
.card-header{
    padding: 0 !important;
}
.card-img-top{
    border-radius: 10px 10px 0 0 ;
}
.btn {
    border: none;
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 15px;
}
.btn:hover {
    color: var(--secound-color) !important;
    background-color: white;
    border: none;
}

/* form */

.login_container{
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 25px;
    width: fit-content;
    background-color: #2aabe219;
    display: flexbox;
    margin: auto;
    margin-top: 50px;

}
input{
    direction: ltr;
}

@media screen and (max-width: 500px) {
    .login_container{
        width: auto;
    }
}

/* CSS für die Rückseite der Karte */
/* .card-back {
    transform: rotateY(180deg);
    background-color: #fff;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  
  /* CSS für die Vorderseite der Karte */
  /* .card-front {
    transform: rotateY(0deg);
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
