
.register_container{
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 25px;
    width: fit-content;
    background-color: #2aabe219;
    display: flexbox;
    margin: auto;
    margin-top: 50px;

}
input{
    direction: ltr;
}




