*{
    box-sizing: border-box;
}
body{
    /* background-image: url(images/big_img4.jpg); */
    /* background-repeat: no-repeat; */
    display: flex; 
    justify-content: center;
}

.div_img {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 225, 213);
    width:80%;
    margin-left: 10%;
    padding: 5px;
    border-radius: 10px;
    
}
.div_img > img {
    justify-content: center;
    width: 25%;
    padding: 3px;
    border-radius: 10px;
}
.div_g_img > img {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-left: 10%;
}
.img1:cl