* {
  box-sizing: border-box;
  /* font-family: "Jura", sans-serif; */
}

body {
  font-family: "Jura";
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  background-color: rgba(98, 79, 55, 0.452);
  width: 99%;
  position: absolute;
}
nav {
  width: 100%;
}

li {
  list-style-type: none;
  float: left;
  padding: 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
a:hover {
  color: rgb(255, 0, 0);
    cursor:grab;

}

button {
  background-color: red;
  border: 2px white solid;
  border-radius: 5px;
  padding: 4px;
}
.btn {
  width: 50%;
  float: right;
  margin-right: 35px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.btn :hover {
    background-color: white;
    color: red;
    cursor:grab;
}
img {
  width: 100%;
  height: 100vh;
}
.s_h1 {
  writing-mode: vertical-lr;
  color: red;
  position: absolute;
}
.section1,
.section2 {
  width: 50%;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
