:root {
    --main-color: #2AAAE2;
    --secound-color: #A2D168;
    --font-color: #fff;
}
main {
    padding: 0px !important;
}
.full_width_img {
    width: 100%;
    height: auto;
}

hr{
    color: var(--main-color);
    width: 50%;
    margin:50px 25%;
}
.card {
    width: 18rem;
    margin: 20px;
    border: none;
}
.Main_Input_Donation{
    outline: 1px solid var(--main-color);
    border: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 60px;
}
.Main_Input_Donation[type=text]:focus {
    border: 1px solid var(--secound-color);
    outline: none;
}

