:root {
    --main-color: #2AAAE2;
    --secound-color: #A2D168;
    --font-color: #fff;
}


.leftArrowStyles {
    position: absolute;
    top: 3%;
    left: 430px;
    z-index: 1;
    cursor: pointer;
    color: var(--secound-color);
  }
  
  .rightArrowStyles {
    position: absolute;
    top: 3%;
    right: 450px;
    z-index: 1;
    cursor: pointer;
    color: var(--secound-color);
  }
  
  .closeBtn {
    position: absolute;
    top: 3%; 
    right: 500px; 
    zIndex: 1;
    cursor: pointer;
    color: var(--secound-color);
  }

  .image_container {
    display: flex !important;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    /* max-width: 90%;
    max-height: 100%; */
  }
  /* @media screen and (min-width: 1200px) {
    .image_container{
      height:100% !important;
      width: 100% !important;
    }
    .closeBtn {
      top: 0%; 
      right: -10%; 
    }
    .rightArrowStyles {
      top: 70%; 
      right: -2%; 
    }
    .leftArrowStyles {
      top: 70%; 
      left: -20%; 
    }
  } */
  /* @media screen and (max-width: 1200px) {
    .image_container{
      height:100% !important;
      width: 100% !important;
    }
    .closeBtn {
      top: 3%; 
      right: 0%; 
    }
    .rightArrowStyles {
      top: 90%; 
      right: -4%; 
    }
    .leftArrowStyles {
      top: 90%; 
      left: 0%; 
    }
  }
  @media screen and (max-width: 992px) {
    .rightArrowStyles {
      top: 84%; 
      right: -10%; 
    }
    .leftArrowStyles {
      top: 84%; 
      left: 0%; 
    }
  }
  @media screen and (max-width: 500px) {
    .rightArrowStyles {
      top: 78%; 
      right: -11%; 
    }
    .leftArrowStyles {
      top: 78%; 
      left: 0%; 
    }
  } */