:root {
    --main-color: #2AAAE2;
    --secound-color: #A2D168;
    --font-color: #fff;
}
.userProfile {
    border: 1px solid var(--secound-color);
}
.userProfileImg{
    border: 1px solid var(--secound-color);
    border-radius: 50% !important;
}